DATABASE_URL=postgresql://brightideas:brightideas@localhost:5432/brightideas?schema=public
PORT=3000
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
DEBUG=brightideas:*,-brightideas:prisma:*,-brightideas:trpc:query:success
