DATABASE_URL=postgresql://brightideas:brightideas@localhost:5432/brightideas?schema=public
PORT=3000
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
DEBUG=brightideas:*,-brightideas:prisma:*,-brightideas:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SENTRY_AUTH_TOKEN=!!!SECRET!!!
# SOURCE_VERSION=123
# CLOUDINARY_API_KEY=!!!SECRET!!!
# CLOUDINARY_API_SECRET=!!!SECRET!!!
CLOUDINARY_CLOUD_NAME=dqez5rbdh
# S3_ACCESS_KEY_ID=!!!SECRET!!!
# S3_SECRET_ACCESS_KEY=!!!SECRET!!!
S3_BUCKET_NAME=brightideasproject
S3_REGION=eu-north-1
S3_URL=https://s3.eu-north-1.amazonaws.com/brightideasproject