.cardRoot {
  transition:
    border-color 150ms ease,
    transform 150ms ease;
  cursor: pointer;
  height: 100%;
}

.cardRoot:hover {
  border-color: var(--mantine-color-teal-4);
  transform: scale(1.03);
}
